.webscontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    width: 90%;
    margin-top: 25px;
}

.title_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title_text_container button{
    cursor: pointer;
    margin: 15px 0 15px 6px;
    padding: 5px 16px;
    background-color: rgb(198, 255, 255);
    border: 2px solid rgb(141, 141, 141);
}

.title_text_container button:hover{
    background-color: rgb(22, 255, 255);
}

.title_text_container button:active{
    background-color: rgb(155, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.proyect_text{
    height: 140px;
    width: 80%;
    margin: auto;
}